.light-theme-footer {
    background-color: blue;
    color: gold;
}

.dark-theme-footer {
    background-color: #3a3b3c;
    color: #fff;
}

footer {
    display: flex;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 8vh;
    border: 2px solid black;
}