#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 100vh;
}

.light-theme {
    background-color: #cfcfcf;
    color: #000;
}

.dark-theme {
    background-color: #3a3b3c;
    color: #fff;
}